.container-input {
  display: flex;
  align-items: center;
  background-color: var(--input-bg-color);
  border-radius: 10px;
  width: 100%;
  height: 45px;
  position: relative;
}

.input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 10px;
  height: 45px;
}

.input:focus-visible {
  outline: 1px solid var(--input-bg-color);
}

.img-icon {
  position: absolute;
  right: 0;
  height: 45px;
  width: 65px;
  padding: 0px 10px;
  cursor: pointer;
}
