.list{
  padding-top: 20px;
}

.title-container{
    display: flex;
     height: 30px;
     width: 500px;
     align-items:center;
     justify-content: flex-start;
     padding-bottom: 15px;
  }

  
  .title{
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 15px;
  
  }
  
  

  