.container-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg-color);
  padding: 10px 30px;
}

.button-access {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.button-access-text {
  align-items: center;
  transform: translateX(50px);
  z-index: 1;
  color: var(--header-bg-color);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-access-icon {
  width: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 20;
}

.button-access:hover > .button-access-text {
  transform: translateX(0px);
  color: var(--main-text-color);
}

.overlay {
  width: 70px;
  height: 40px;
  background-color: var(--header-bg-color);
  position: absolute;
  top: 10;
  right: 0;
  z-index: 10;
}
