   .container-header{
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--header-bg-color);
   padding: 10px 20px;
   }
  
    .acess-button{
    font-family: var(--main-font);
    font-size: 15px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
    }

    .button-and-img:hover{
      background-color: var(--header-bg-color);
      width: 107px;
    }