
.calendarImg{
    width: 18px;
    margin-right: 6px
  }
  
  .cont-eventsImg{
    display:flex;
    justify-content: space-around;
    height: 140px;
    width: 100%;
  }
  
  .eventImg{
    background-color:rgba(255, 255, 255, 0.82);
    height: 130px;
    width: 260px;
    border-radius: 8px;
  }
