:root {
  --main-bg-color: #212529;
  --header-bg-color: #262e38;
  --main-text-color: #fff;
  --details-color: #d3f13a;
  --input-bg-color: rgba(255, 255, 255, 0.15);
  --bg-overlay-color: rgba(20, 20, 20, 0.85);
  --main-font: "Roboto", sans-serif;
}

.title {
  color: var(--main-bg-color);
  font-family: var(--main-font);
  font-weight: 400;
}

.Modal-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.788);
  top: 0px;
  left: 0px;
  z-index: 2000;
  justify-content: flex-end;
  align-items: center;
}

.modal {
  display: flex;
  background-color: var(--header-bg-color);
  height: 100vw;
  width: 450px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px -9px 3px #000;
}

.modal-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 435px;
  height: 60px;
}
.closeButton {
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-style: none;
  border-radius: 50%;
  background-color: #2c3642;
  color: #fff;
  font-family: var(--main-font);
  cursor: pointer;
  margin-left: 13px;
}
