:root {
  --main-bg-color: #212529;
  --header-bg-color:  #262e38;
  --main-text-color: #fff;
  --details-color: #d3f13a;
  --input-bg-color: rgba(255, 255, 255, 0.15);
  --main-font: 'Roboto', sans-serif;

}


.title{
  color: var(--main-bg-color);
  font-family: var(--main-font);
  font-weight: 400;
}

.container-header{
  display:flex;
  background-color: var(--main-bg-color);
  padding: 27px 0px 27px 84px; 
  }

  .acess-button{
    font-family: var(--main-font);
    padding-left: 900px;
    cursor: pointer;
    border: none;
    background:none;
    color: var(--main-text-color);
    display: flex;
   align-items: center;
  }

  .imgGroups{
    display: inline-block;
  }


